/* home.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh; /* Isso faz com que o contêiner ocupe toda a altura da tela */
  text-align: center;
}

/* Estilize o link como um botão cor-de-rosa */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: pink;
  color: white;
  text-decoration: none;
  border: 2px solid pink;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
.button-link:hover {
  background-color: #ff69b4; /* Cor de fundo rosa mais clara ao passar o mouse */
}
