
/* Estilos para a navbar */
.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ff758c;
}

.logo {
  max-width: 50px; /* Ajuste o tamanho da logo conforme necessário */
}

/* Estilos para a introdução */
.introduction {
  background-color: #fff; /* Cor de fundo da introdução */
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ff758c;
  border-radius: 5px;
}

/* Estilos adicionais conforme necessário */
