

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh; 
  text-align: center;
}


.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 157, 173);
  color: white;
  text-decoration: none;
  border: 2px solid rgb(255, 117, 140);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button-link:hover {
  background-color: #ff2e97; 
}
