/* estilos.css */

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container input {
    border: 2px solid rgb(255, 176, 189);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .input-container button {
    border: 2px solid rgb(255, 92, 119);
    border-radius: 5px;
    background-color: rgb(250, 157, 173);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1, a, form {
    margin: 5px 0;
  }
  


body {
    background-color: rgb(255, 230, 235); 
    margin: 0; 
    padding: 0; 
  }
  
 
.button-link {
    display: inline-block;
    padding: 10px 20px; 
    background-color: rgb(255, 152, 190); 
    color: white;
    text-decoration: none; 
    border: 2px solid rgb(255, 0, 106); 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    
  
   
    &:hover {
      background-color: rgb(255, 0, 106); 
    }
  }


.values-area {
  max-height: 100px; 
  overflow-y: auto; 
  margin-top: 40px;
}


.pink-border-button {
  background-color: rgb(255, 0, 106);
  color: white; 
  border: none;
  padding: 5px 10px; 
  cursor: pointer; 
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh; 
}

h1 {
  margin: 10px 0;
  flex-grow: 0; 
}

