/* estilos.css */

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container input {
    border: 2px solid rgb(255, 176, 189);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .input-container button {
    border: 2px solid rgb(255, 176, 189);
    border-radius: 5px;
    background-color: pink;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1, a, form {
    margin: 5px 0; /* Adicione um espaçamento para melhorar a aparência */
  }
  


body {
    background-color: rgb(255, 240, 243); /* Cor de fundo rosa claro */
    margin: 0; /* Remova as margens padrão do body para um visual mais limpo */
    padding: 0; /* Remova o preenchimento padrão do body */
  }
  
 
.button-link {
    display: inline-block;
    padding: 10px 20px; /* Ajuste o espaçamento interno conforme necessário */
    background-color: pink; /* Cor de fundo rosa */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado padrão do link */
    border: 2px solid pink; /* Borda rosa */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave para hover */
    
  
    /* Estilo para quando o mouse estiver sobre o link */
    &:hover {
      background-color: #ff69b4; /* Cor de fundo rosa mais clara ao passar o mouse */
    }
  }


.values-area {
  max-height: 100px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
  margin-top: 40px; /* Adicione um espaçamento superior para distanciar dos elementos acima */
}


.pink-border-button {
  background-color: pink;
  color: white; /* Define a cor do texto como branco para que contraste com o rosa */
  border: none; /* Remove a borda padrão do botão */
  padding: 5px 10px; /* Adicione preenchimento para melhorar a aparência */
  cursor: pointer; /* Mude o cursor para um ponteiro ao passar o mouse sobre o botão */
}

/* estilos.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* Defina um tamanho mínimo de 100% da altura da viewport */
}

h1 {
  margin: 10px 0; /* Aumente o espaçamento superior para separar o título dos elementos abaixo */
  flex-grow: 0; /* Impede que o título cresça e empurre os outros elementos para cima */
}
